@charset "utf-8";
/* CSS Document */
#head{
		height:200px;
	top:0px;
	position:absolute;
	width:100%;
	background-image:url(../image/pen.jpg);
	background-repeat:repeat-x;
	
	
}

#menu{
	background-color:#6C0;
	height:auto;
	top:200px;
	position:absolute;
	width:100%;
	color:#000;
	
}
ul{
	text-align:center;
}
 li{
	list-style:none;
	padding:5px ;
	margin-left:10px;
	display:inline-block;
	border-left:solid #903;
	text-align:center;
	
}
a {
	text-decoration:none;
	
}
a:hover{
	background-color:#990;
	display:inline-block;
	
}
table:hover{
	background-color:brown;
	display:inline-block;
	
}
#cont{
	background-color:#9FC;
	height:auto;
	top:250px;
	position:absolute;
	width:100%;
	
	
	
}
#footer{
	background-color:#333;
	height:100px;
	
	position:absolute;
	width:100%;	
	
}
#signupform{
	color:red;
}

